/.ipynb_checkpoints
/Annotated-Bishop - Pattern Recognition And Machine Learning - Springer  2006 (1).pdf
/Bayesian Data Analysis 3.pdf
/Bishop - Pattern Recognition And Machine Learning - Springer  2006.pdf
/chap2.pdf
/Frequentist Vs Bayes_Thematic understanding _Prof. Anand Khandekar.mp4
/Kruschke-Liddell2018_Article_BayesianDataAnalysisForNewcome.pdf
/Links.xlsx
/ML.pptx
/MLE For Univariate Gaussian.pdf
/prml-slides-2.pdf
/_ML_Internship-2.pptx